export API_NAME=sga_calendario_mid
export SERVICE_NAME=sgacalendariomid
export API_BASE_DIR=github.com/udistrital
export SGA_CALENDARIO_MID_HTTP_PORT=8109
export SGA_CALENDARIO_MID_STATIC_PATH=static
export SGA_CALENDARIO_MID_RUNMODE=dev
export PARAMETER_STORE=

export CORE_SERVICE=
export DOCUMENTO_SERVICE=
export EVENTOS_SERVICE=
export OIKOS_SERVICE=
export PARAMETRO_SERVICE=
export PROYECTO_ACADEMICO_SERVICE=
export TERCEROS_SERVICE=
export CONFIGURACION_SERVICE=
export WSO2_SERVICE=
export WSO2_ACADEMICA_SERVICE=
export WSO2_HOMOLOGACION_SERVICE=
